<div class="container">
  <h1>Profile</h1>
  <p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
  <p><strong>E-mail address:</strong> <%= @user.email %></p>
</div>

<div class="container">
  <h2>Stats</h2>
  <section class="stats">
    <%= render 'partials/stats' %>
  </section>
</div>

<br />

<div class="navigation">
  <div class="container">
    <%= link_to "Back", users_path %> |
    <%= link_to "Edit", edit_user_path(@user) %>
  </div>
</div>
